@charset "utf-8";
/*head*/
#search_topbox {width:100%;margin:0 auto;clear:both;}
#search_topcont {width:1200px;margin:0 auto;clear:both;}
.search_k_logo {float: left;margin:50px 0 10px 37px;display:inline;}
.search_k_top_r {float: right;margin:46px 49px 35px 0;display:inline;}
.search_k_topsearch {float:left;width:385px;margin:1px 56px 0 0;color:#666;}
.search_k_topsearch1 {float:left;width:385px;height:28px;}
.search_searchinput {float:left;width:294px;height:28px;}
.search_input_search {width:280px;height:28px;padding:0 7px;background:url(../images/inputbg.gif) no-repeat;line-height:28px;border:0;}
.search_searchbut {float:left;width:91px;height:28px;background:url(../images/but_search.gif) no-repeat;}
.search_k_tel {float:left;}
.search_clear{clear:both;height:0;overflow:hidden;}