/* Global CSS */
body {padding:0; background-color:#edf0f5; line-height:28px; font-size:12px;color:#333;font-family:����;}
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,img,textarea,blockquote,p {padding:0; margin:0;}   
ul,li {list-style:none;}
input,select,textarea,table,td {font-size:12px;}
h1,h2,h3,h4,h5,h6 {margin:0;padding:0;border:0;font:12px normal;}
/*$$$*/
.navBg{ background:url(../images/pic02.jpg); font-size:14px; color:#FFF; font-weight:bold; height:34px;}
.navL{ width:420px; line-height:34px; float:left; padding-left:30px;}
.navR{ width:380px; line-height:34px; float:right;}
.nav li{ float:left; background:url(../images/menu_1.gif); width:157px; line-height:44px; margin-left:2px; text-align:center; font-size:16px; font-weight:bold; color:#00ff00;}
.nav li a{ color:#FFF; text-decoration:none;}
.nav li a:hover,.nav li span{ background:url(../images/menu.gif); width:157px; line-height:44px; color:#e3fd7e; display:block;}
.all li{ line-height:24px; padding-left:10px; text-align:left;}
.allone li{ float:left; line-height:24px; width:100px;}
.allone li a{ text-decoration:none;}
.allone li a:hover,.allone li span{ background:#D3F097; display:block; text-decoration:none;}
.alloneSpan {background:#D3F097 ;}
