@charset "utf-8";
/* CSS Document */
.main{
	width:1002px;
	margin:0 auto;
	background-color: #FFF;
}
.main-c{
	padding:20px;
}
.foot{
	height:118px;
	font-family: "微软雅黑";
	font-size: 14px;
	color: #333;
	text-align: center;
	line-height: 118px;
	font-weight: normal;
	border-top-style: solid;
	border-top-color: #999;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
}
.head{
	width:1002px;
	height:70px;
	background-image: url(../images/head-bg.jpg);
	background-repeat: repeat-x;
}
.title{
	font-family: "微软雅黑";
	font-size: 24px;
	font-weight: bold;
	color: #999;
	float: left;
	padding-left: 20px;
	padding-top: 10px;
}
.title p{
	font-family: "微软雅黑";
	font-size: 12px;
	float: left;
	padding-top:20px;
	line-height: 150%;
	font-weight: normal;
}

.line{
	background-image: url(../images/line.jpg);
	height: 9px;
	width: 958px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
