/* Global CSS */
body { color:#422a2d; font: normal 12px "����" ,"\5b8b\4f53",sans-serif; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; 
}
table {
	border-collapse:collapse;
	border-spacing:0;
	line-height: 16px;
}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {

}
ol,ul,li {list-style:none; margin:0px; padding:0px;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
form {margin:0;padding:0;}
input,textarea,select,option{ font:normal 12px "����"; color:#333; }
abbr,acronym {border:0;}
img,a img {vertical-align:middle;border:0;}
strong {font-weight:bold;}
a{ color:#333; text-decoration:none; }
a:hover {color:#FF0000;text-decoration:underline;}
li a{ color:#333; text-decoration:none; }
li a:hover {color:#FF0000;text-decoration:underline;}
.clear{clear:both;height:0;overflow:hidden;}
.l {float:left;display:inline;}
.r {float:right;display:inline;}

/* font CSS */
.redfont,.redfont a,a.redfont { color: #f00!important; }
.grayfont,.grayfont a.a.grayfont { color: #999!important; }
.bluefont,.bluefont a,a.bluefont{ color:#185fbe!important;}
.greenfont,.greenfont a.a.greenfont { color: #8cd007!important; }
.f14b {font:bold 14px "����";}

span.star0 {width: 75px;height: 15px;display: inline-block;background: url(../images/star.gif) left 0px;}
span.star1 {width: 75px;height: 15px;display: inline-block;background: url(../images/star.gif) left -15px;}
span.star2 {width: 75px;height: 15px;display: inline-block;background: url(../images/star.gif) left -30px;}
span.star3 {width: 75px;height: 15px;display: inline-block;background: url(../images/star.gif) left -45px;}
span.star4 {width: 75px;height: 15px;display: inline-block;background: url(../images/star.gif) left -60px;}
span.star5 {width: 75px;height: 15px;display: inline-block;background: url(../images/star.gif) left -75px;}


