@charset "utf-8";
/* CSS Document */
.all{ background-color:#eeeeee; width:100%; height:980px;}
.top{ width:100%; background:url(../images/top_bg.jpg) repeat-x; height:81px; }
.top_cont{ width:992px; margin:0 auto;}
.t_c{ float:left; width:992px; margin-top:5px;}
.tt{ float:right; margin-right:20px; margin-top:15px;}

.content{ margin:0 auto; margin-top:15px; clear:both;background:url(../images/index01.jpg) no-repeat; width:991px; height:503px; }
.cont_a{}
.inf{ font:normal 18px "微软雅黑"; margin-left:25px; line-height:90px; }
.help{ margin-left:750px;}
.confir{ width:555px; height:600px; margin:0 auto; margin-top:5px;}
.login_int{font-size:14px; color:#666666; margin-left:32px;  margin-top:10px; width:700px;}
.login_int label{display:inline-block; margin-right:3px;}
.s1{display:inline-block; width:120px;  text-align:left;color:#353535; font-size:16px; font-family:"宋体"; height:32px; line-height:32px;}
.s2{display:inline-block; width:100px;  text-align:left;color:#353535; font-size:16px; font-family:"宋体"; height:32px; line-height:32px;}
.lg_redStar{color:#F00; font-size:16px; font-family:Arial; display:inline-block; line-height:32px;}
.reUser_text{width:270px; height:30px; border:1px solid #a9a8a8; padding-left:3px; padding-top:2px;}
.regist_btn{margin-left:100px; margin-top:20px;width:237px;height:36px; background:url(../images/but1.jpg) no-repeat;font-size:18px;font-weight:bold;color:#fff;border:none; cursor:pointer; text-align:center;}
.information{ clear:both; margin-top:15px; width:1200px; overflow:hidden; text-align:center; margin:0 auto; background:url(../images/index5.jpg) no-repeat; height:150px; padding-top:130px;}

.login_int1{font-size:14px; color:#4c4c4c; margin-left:32px;  margin-top:40px; width:500px;}
.login_int1 label{display:inline-block; margin-right:3px;}
.login_int1 span{display:inline-block; width:100px;  text-align:right;color:#4c4c4c; font-size:16px; font-family:"宋体"; height:35px; line-height:35px;}
.recode_text{ width:107px; height:35px;border:1px solid #a9a8a8; padding-left:3px; padding-top:3px; vertical-align:top;}
.codeRound{color:#06F;font-size:12px; vertical-align:top; display:inline-block; cursor:pointer; margin-left:20px; line-height:35px;}
.codeRound:hover{color:#F00;}
.re_agreed{margin-left:130px; vertical-align:top; margin-top:40px; display:block; font-size:12px; }
.xiyi{ color:#1065a8;}
.popup {border:1px solid #ccc; background:url(../images/b1-bg06.gif) repeat-x left top #fff;padding-bottom:20px;}
a.close{ display:block;color:#fff;text-decoration:none;font-size:12px;font-weight:700; background:url(../images/b1-bg07.gif) no-repeat; width:156px; height:24px; line-height:24px; text-align:center; margin:0 auto; }