@charset "utf-8";
/*公共样式*/
body,div,ul,ol,li,form,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,img,textarea,blockquote,p{padding:0; margin:0;}   

body{font:normal 12px "宋体, Arial, Helvetica, sans-serif";color:#333;}
body { background-color: #faf3f3; background-repeat: repeat-x; background-position: left top; 
}
a{color:#3e3536;text-decoration:none;cursor:pointer;}
a:link,a:visited{color:#3e3536;text-decoration:none;}
a:hover{color:#666666;text-decoration:underline;}
a:active{ color:#3e3536; text-decoration:none; font-weight: bold; }
img,a img { border:0; }
.clear{clear:both;height:0;overflow:hidden;}
.headtab1 { height:37px; margin:0 auto; clear:both; overflow:hidden; background-color: #000; line-height: 37px; }
.g_logo { font-weight: normal; padding-left: 10px; }
.headtab2 { height:65px; margin:0 auto; clear:both; overflow:hidden; line-height: 65px; background-image: url(../images/gbg.png); background-repeat: repeat-x; }
.headtab3 { margin:0 auto; clear:both; overflow:hidden; background-color: #faf3f3; width:100%; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #dccfd0; }
.headtab31 { margin:0 auto; clear:both; overflow:hidden; background-color: #faf3f3; width:100%; }

.tab1 tr td { font-weight: normal; text-align: center; font-family: "微软雅黑", "黑体"; font-size: 18px; }
.p10 { padding-top: 5px; }
.pb15 { padding-bottom: 15px; }
.xinhao {float: left;background-image: url(../images/xinhao_01.jpg);background-repeat: no-repeat;width: 48px;height: 40px;}
.suo {background-image: url(../images/suo_03.jpg);background-repeat: no-repeat;background-position: center top;background-attachment: fixed;height: 40px;width: 20px;text-align: center;margin: 0 auto;}
.dian{background-image: url(../images/dian_05.jpg);background-repeat: no-repeat;float: right;height: 40px;width: 48px;}
.top2{background-image: url(../images/zuoyuan_07.jpg);background-repeat: repeat;float: left;height: 88px;width: 10px;}
.top3{background-image: url(../images/youbian_14.jpg);background-repeat: no-repeat;float: right;height: 88px;width: 12px;}
.top4{background-image: url(../images/hongtiao_10.jpg);background-repeat: repeat-x;height: 45px;width: 100%;}
ol,ul,li {list-style:none; margin:0px; padding:0px;}
.top41{ height: 71px; width: 100%; background-color: #f9f0f1; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #ddd6d5; }
.top58{ height: 58px; width: 100%; background-color: #f9f0f1; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #ddd6d5; }

.topzi{background-repeat: no-repeat;background-position: center;text-align: center; width:100%;}
.jiantou { font-weight: normal; float: left; padding-left: 50px; }
.top41 ul li { font-weight: normal; float: left; width: 16.5%; background-image: url(../images/xian_22.jpg); background-repeat: no-repeat; background-position: right; height: 71px; line-height: 71px; text-align: center; font-size: 18px; font-family: "微软雅黑", "黑体"; }
.top41 ul { font-weight: normal; height: 71px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #ddd6d5; }

.xuanzhong{color:#3e3536;text-decoration:none;cursor:pointer; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #F00;}
.xuanzhong:link,.xuanzhong:visited{color:#3e3536;text-decoration:none; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #be0000;}
.xuanzhong:hover{color:#666666;text-decoration:underline;}
.xuanzhong:active{ color:#3e3536; text-decoration:none; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #be0000; }
.wenzi { font-weight: normal; line-height: 18px; width: 95%; margin: 0 auto; padding-bottom: 35px; }
.wenzi h1 { font-weight: normal; margin-top: 15px; margin-bottom: 10px; }
.wenzi1 { font-weight: normal; line-height: 18px; width: 100%; margin: 0 auto; padding-bottom: 35px; }
.wenzi1 h2 { font-weight: normal; margin-top: 20px; margin-bottom: 10px; font-size: 14px; text-align: center; font-family: "微软雅黑", "黑体"; }
.wenzi h2 { font-weight: normal; margin-top: 20px; margin-bottom: 10px; font-size: 14px; text-align: center; }
.n_rong { font-weight: normal; font-size: 18px; font-family: "微软雅黑", "黑体"; line-height: 35px; }
.riqi { font-weight: normal; text-align:center; font-size: 14px; font-family: '微软雅黑', '黑体'; padding: 10px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #dccfd0; }
.li_r { background-image: none; }
h1 span { font-family: "微软雅黑", "黑体"; font-size: 14px; font-weight: bold; }
.xt_xuhao { font-weight: normal; height: 58px; }
table.rtab1 {border:1px solid #e0e0e0;border-collapse:collapse;}
table.rtab1 td { padding:5px 5px 5px 5px; color:#3e3536; height: 45px; font-family: "微软雅黑", "黑体"; font-size: 18px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #d5c7c9; line-height: 30px; }
table.rtab1 td table td {border:0;padding:4px 0 2px 5px;}
table.rtab1 th { padding:0; font:normal 18px "微软雅黑"; color:#3e3536; height: 58px; line-height: 58px; border-top-width: 1px; border-bottom-width: 2px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #e0e0e0; border-bottom-color: #d5c7c9; border-left-color: #e0e0e0; background-color: #eadede; background-image: url(../images/xitong_li.png); background-repeat: no-repeat; background-position: right; padding-left: 10px; }
.leixi { font-size: 12px; font-family: "宋体"; color: #717171; margin-right: 20px; }
.xt_sp { font-weight: normal; padding-top: 15px; margin-top: 30px; }
.xt_fenye { font-weight: normal; height: 58px; line-height: 58px; text-align: right; padding-right: 30px; padding-top: 20px; }
.xt_fenye1 { font-weight: normal; height: 58px; line-height: 58px; text-align: center; padding-right: 30px; padding-top: 20px; }

table.rtab2 {border:1px solid #e0e0e0;border-collapse:collapse;}
table.rtab2 td { padding:5px 5px 5px 5px; color:#3e3536; font-family: "微软雅黑", "黑体"; font-size: 18px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #d5c7c9; line-height: 61px; border-right-width: 1px; border-right-style: solid; border-right-color: #d5c7c9; }
table.rtab2 td table td {border:0;padding:4px 0 2px 5px;}
table.rtab2 th { padding:0; font:normal 18px "微软雅黑"; color:#3e3536; height: 58px; line-height: 58px; border-top-width: 1px; border-bottom-width: 2px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #e0e0e0; border-bottom-color: #d5c7c9; border-left-color: #e0e0e0; background-color: #eadede; background-repeat: no-repeat; background-position: right; padding-left: 10px; }
.bno { background-image: none; }
.selblue4 { width:80%; max-width:300px; border:1px solid #CCC; height:20px; color:#666; line-height: 20px; }
.qs { background-color: #FFF; border: 2px solid #d5c7c9; font-family: "微软雅黑", "黑体"; font-size: 18px; line-height: 30px; padding: 8px; height: 30px; overflow: auto; width: 40%; resize: none;}
.qs1 { background-color: #FFF; border: 2px solid #d5c7c9; font-family: "微软雅黑", "黑体"; font-size: 18px; line-height: 30px; padding: 8px; height: 30px; overflow: auto; width: 70%; max-width:400px; }

table.rtab3 {border:1px solid #e0e0e0;border-collapse:collapse;}
table.rtab3 td { padding:5px 5px 5px 5px; color:#3e3536; height: 38px; font-family: "微软雅黑", "黑体"; font-size: 18px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #d5c7c9; line-height: 30px; }
table.rtab3 td table td {border:0;padding:4px 0 2px 5px;}
table.rtab3 th { padding:0; font:normal 18px "微软雅黑"; color:#3e3536; height: 38px; line-height: 38px; border-top-width: 1px; border-bottom-width: 2px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #e0e0e0; border-bottom-color: #d5c7c9; border-left-color: #e0e0e0; background-color: #eadede; background-repeat: no-repeat; background-position: right; padding-left: 10px; }

.text01 { border: #d3cbc8 1px solid; margin-left: 0px; }
.red16px{ color:#c52500; font-weight:bold;}
.red16px a,.red16px a:visited{ color:#c52500; text-decoration:none;}
.red16px a:hover{ color:#c52500; text-decoration:underline;}

.selblue41 { width:40%; max-width:150px; border:1px solid #CCC; height:20px; color:#666; line-height: 20px; }
.selblue411 { width:50%; max-width:180px; border:1px solid #CCC; height:20px; color:#666; line-height: 20px; }
.selblue42 { width:50%; max-width:200px; border:1px solid #CCC; height:20px; color:#666; line-height: 20px; }
.selblue422 { width:70%; max-width:220px; border:1px solid #CCC; height:20px; color:#666; line-height: 20px; }
.text01 { width: 40%; max-width:200px; border: #d3cbc8 1px solid; margin-left: 0px; }
.text011 { width: 70%; max-width:200px; border: #d3cbc8 1px solid; margin-left: 0px; }
.text012 { width: 70%; max-width:200px; border: #d3cbc8 1px solid; margin-left: 0px; }

.headtab4 { margin:0 auto; clear:both; overflow:hidden; background-color: #faf3f3; width:100%; }
.tab2 tr td { font-weight: normal; text-align: center; font-family: "微软雅黑", "黑体"; font-size: 18px; padding-bottom: 26px; padding-top: 50px; }
.kjlogo { font-weight: normal; float: left; padding-left: 5px; padding-top: 0px; }
.liebiaoan{ background-repeat: no-repeat; background-position: center; text-align: right; padding-right: 25px; padding-top: 12px; float: right; }

/**-----20130531-----**/
table.rtab1 .rtongji {padding:0; font:normal 18px "微软雅黑"; color:#3e3536; height: 45px; line-height: 45px;border-bottom:2px solid #d5c7c9;background-color: #eadede;padding-left: 10px;text-align:left;}
table.rtab1 .rtongji span {float:right;padding-right:10px;}
.but_month {width:94px;height:41px;background:url(../images/but_month.png) no-repeat;font:normal 18px "微软雅黑"; color:#3e3536;line-height:38px;border:0;cursor:pointer;}
table.rtab1 td p {margin:0 auto;clear:both;line-height:18px;}
table.rtab1 td p span {float:left;width:15%;}
.botnav {margin:0 auto;clear:both;height:38px;border-top:3px solid #0000ff;}
.botnav ul {width:100%;margin:0 auto;clear:both;}
.botnav ul li {float:left;width:50%;height:41px;background:#b5b5b5;font:normal 18px "微软雅黑";line-height:41px;color:#fff;text-align:center;}
.botnav ul li a,.botnav ul li a:visited {color:#fff;}
.botnav ul li a:hover {color:#fff;text-decoration:underline;}
.botnav .cur {width:50%;*width:49.9%;_width:49.9%;background:url(../images/botnavcur.png) repeat-x #0000ae;}

.botnav3 {margin:0 auto;clear:both;height:38px;border-top:3px solid #0000ff;}
.botnav3 ul {width:100%;margin:0 auto;clear:both;}
.botnav3 ul li {float:left;width:33.3%;height:41px;background:#b5b5b5;font:normal 18px "微软雅黑";line-height:41px;color:#fff;text-align:center;}
.botnav3 ul li a,.botnav ul li a:visited {color:#fff;}
.botnav3 ul li a:hover {color:#fff;text-decoration:underline;}
.botnav3 .cur {width:33.3%;*width:33.2%;_width:33.2%;background:url(../images/botnavcur.png) repeat-x #0000ae;}
