/* ------------------------------------------------- */
#tabs{
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
#tabs li{
  float: left;
  margin: 0 .2em 0 0;
  font-size: 11px;
  font-weight: bold;
}
#tabs a{
  position: relative;
  background: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -ms-linear-gradient(top, #fff, #ddd);
  background-image: -o-linear-gradient(top, #fff, #ddd);
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  padding: 8px 20px;
  float: left;
  text-decoration: none;
  color: #74685F;
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4);
  box-shadow: 0 1px 1px rgba(0,0,0,.4);
}
#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after{background: #fff;}
#tabs a:focus{outline: 0;}
#tabs a::after{
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  background: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -ms-linear-gradient(top, #fff, #ddd);
  background-image: -o-linear-gradient(top, #fff, #ddd);
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.4);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.4);
  box-shadow: 1px 1px 1px rgba(0,0,0,.4);
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
#tabs #current a{background: #fff;z-index: 3;color: #8b0000;}
#tabs #current a::after{background: #fff;z-index: 3;}
/* ------------------------------------------------- */
#content{
    background: #fff;
    padding: 2em;
	position: relative;
	z-index: 2;	
    border:1px solid #ccc;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 60px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
#content h2, #content h3, #content p{margin: 0 0 15px 0;}
/* ------------------------------------------------- */
 add by zhouhaojie ,使用class定义,以获取更广的使用面
/* ------------------------------------------------- */
.tabs{
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
.tabs li{
  float: left;
  margin: 0 .2em 0 0;
}
.tabs a{
  position: relative;
  background: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -ms-linear-gradient(top, #fff, #ddd);
  background-image: -o-linear-gradient(top, #fff, #ddd);
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  padding: 4px 18px;
  float:left;
  color: #74685F;
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4);
  box-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.tabs a:hover,
.tabs a:hover::after,
.tabs a:focus,
.tabs a:focus::after{background: #fff;}
.tabs a:focus{outline: 0;}
.tabs a::after{
  content:'';
  position:absolute;
  z-index: 1;
  top: 0;
  background: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -ms-linear-gradient(top, #fff, #ddd);
  background-image: -o-linear-gradient(top, #fff, #ddd);
  background-image: linear-gradient(to bottom, #fff, #ddd);  
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,.4);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.4);
  box-shadow: 1px 1px 1px rgba(0,0,0,.4);
  -webkit-transform: skew(10deg);
  -moz-transform: skew(10deg);
  -ms-transform: skew(10deg);
  -o-transform: skew(10deg);
  transform: skew(10deg);
}
.tabs .current a{background: #fff;z-index: 3;color: #8b0000;}
.tabs .current a::after{background: #fff;z-index: 3;}

.content{
    background: #fff;
	position: relative;
	z-index: 2;	
    border:1px solid #ccc;
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.06) inset; 
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 60px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
.content h2, .content h3, .content p{margin: 0 0 15px 0;}

.navClass {background-color: #abd589;border-collapse:collapse;}
.navClass th {background:#F5F4F4;color:#74685F;font-size:12px;font-weight:bold;height:20px;line-height:20px;text-align:center;padding:3px;border:1px solid #CCC;}
.navClass td {padding:3px;height:18px;background-color:#fff;border:1px solid #CCC;}

a:HOVER {color:#CD0000;text-decoration:none;}

input[type='submit'],input[type='button'] { border-radius:1px; border:1px solid #CCC; padding:3px 5px;background-color:#eee; color:#555; cursor: pointer; margin-right: 1px;}
input[type='submit']:hover,input[type='button']:hover { background-color:#ccc; border:1px solid #74685F;}
input[type='submit']:active,input[type='button']:active { color:#F00; }