body{margin:0px; padding:0px; text-align:center; font-size:12px;}
input[type=text]{border: #ccc solid 1px;}
input:text{border: #ccc solid 1px;}
ul,li,p,img{ margin:0px; padding:0px; list-style:none; border:0px; line-height:20px; }

table.tdTab{border:1px solid #e6d1ad;border-collapse:collapse; text-align:center;}
table.tdTab td{border:1px solid #e6d1ad; padding-left:2px;padding-right:2px;}

table.printTabTop{border:0px;border-collapse:collapse; text-align:center;}
table.printTabTop td{border-left: 0px;border-bottom: 0px;border-right: 0px;border-top: 0px; }

.left{ float:left; padding-top:0px;_padding-top:3px; *padding-top:3px;}
.right{ float:right; padding-right:20px;}
.rightone{ float:right; padding-right:6px;}

.bd{ width:86px; background:url(../images/rili.gif) right no-repeat;color:#915806; font-size:12px; border:1px #7f9db9 solid; padding-left:8px;}

.botton{ background:url(../images/button.gif) no-repeat; width:97px; height:24px; border:0px; color:#FFF; font-size:12px;}

.dayin{ background:url(../images/dayin.gif) no-repeat; width:54px; height:24px; border:0px; color:#412802; font-size:12px;}

.small{ background:url(../images/button_1.gif); width:45px; height:24px; border:0px; color:#FFF; font-size:12px;}

.fk{ background:url(../images/fkdj.gif) no-repeat; width:62px; height:24px; border:0px;color:#412802; font-size:12px; cursor:pointer;}

.ss{ background:url(../images/ss.gif); width:41px; height:20px; border:0px; color:#FFF; font-size:12px; text-align:center;cursor:pointer;}

.three li{ padding-bottom:10px;}


.ui-multiselect { padding:2px 0 2px 4px; text-align:left }
.ui-multiselect span.ui-icon { float:right }
.ui-multiselect-single .ui-multiselect-checkboxes input { position:absolute !important; top: auto !important; left:-9999px; }
.ui-multiselect-single .ui-multiselect-checkboxes label { padding:5px !important }

.ui-multiselect-header { margin-bottom:3px; padding:3px 0 3px 4px }
.ui-multiselect-header ul { font-size:0.9em }
.ui-multiselect-header ul li { float:left; padding:0 10px 0 0 }
.ui-multiselect-header a { text-decoration:none }
.ui-multiselect-header a:hover { text-decoration:underline }
.ui-multiselect-header span.ui-icon { float:left }
.ui-multiselect-header li.ui-multiselect-close { float:right; text-align:right; padding-right:0 }

.ui-multiselect-menu { display:none; padding:3px; position:absolute; z-index:10000 }
.ui-multiselect-checkboxes { position:relative /* fixes bug in IE6/7 */; overflow-y:scroll }
.ui-multiselect-checkboxes label { cursor:default; display:block; border:1px solid transparent; padding:3px 1px }
.ui-multiselect-checkboxes label input { position:relative; top:1px }
.ui-multiselect-checkboxes li { clear:both; font-size:0.9em; padding-right:3px }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label { text-align:center; font-weight:bold; border-bottom:1px solid }
.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a { display:block; padding:3px; margin:1px 0; text-decoration:none }

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label { border:none }

.ui-multiselect-hasfilter ul { position:relative; top:2px }
.ui-multiselect-filter { float:left; margin-right:10px; font-size:11px }
.ui-multiselect-filter-button { float:left; font-size:11px;padding-top:5px; }
.ui-multiselect-filter input { width:70px; font-size:10px; margin-left:5px; height:15px; padding:2px; border:1px solid #292929; -webkit-appearance:textfield; -webkit-box-sizing:content-box; }

.printTab {
	width: 100%;
	background-color: #000000;
}
.printTab th {
	background-color: #ffffff;
	color: #000;
	font-size: 12px;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	text-align: center;
}
.printTab tr {
}
.printTab td {
	padding: 5px;
	background-color: #ffffff;
}
