/*公共样式*/
body,div,ul,ol,li,form,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
body{font:normal 12px "宋体, Arial, Helvetica, sans-serif";color:#333;}
body { background-color: #faf3f3; background-repeat: repeat-x; background-position: left top; 
}
a{color:#3e3536;text-decoration:none;cursor:pointer;}
a:link,a:visited{color:#3e3536;text-decoration:none;}
a:hover{color:#666666;text-decoration:underline;}
a:active{ color:#3e3536; text-decoration:none; font-weight: bold; }
img,a img { border:0; }
.clear{clear:both;height:0;overflow:hidden;}
.headtab1 { height:37px; margin:0 auto; clear:both; overflow:hidden; background-color: #000; line-height: 37px; }
.g_logo { font-weight: normal; padding-left: 10px; }
.headtab2 { height:65px; margin:0 auto; clear:both; overflow:hidden; line-height: 65px; background-image: url(../images/gbg.png); background-repeat: repeat-x; }
.headtab3 { margin:0 auto; clear:both; overflow:hidden; background-color: #faf3f3; width:100%; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #dccfd0; }
.headtab31 { margin:0 auto; clear:both; overflow:hidden; background-color: #faf3f3; width:100%; }

.tab1 tr td { font-weight: normal; text-align: center; font-family: "微软雅黑", "黑体"; font-size: 18px; }
.p10 { padding-top: 10px; }
.pb15 { padding-bottom: 15px; }
.xinhao {
	float: left;
	background-image: url(../images/xinhao_01.jpg);
	background-repeat: no-repeat;
	width: 48px;
	height: 40px;
}
.suo {
	background-image: url(../images/suo_03.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	height: 40px;
	width: 20px;
	text-align: center;
	margin: 0 auto;
}
.dian{
	background-image: url(../images/dian_05.jpg);
	background-repeat: no-repeat;
	float: right;
	height: 40px;
	width: 48px;
}
.top2{
	background-image: url(../images/zuoyuan_07.jpg);
	background-repeat: repeat;
	float: left;
	height: 88px;
	width: 10px;
}
.top3{
	background-image: url(../images/youbian_14.jpg);
	background-repeat: no-repeat;
	float: right;
	height: 88px;
	width: 12px;
}
.top4{
	background-image: url(../images/hongtiao_10.jpg);
	background-repeat: repeat-x;
	height: 88px;
	width: 100%;
}
ol,ul,li {list-style:none; margin:0px; padding:0px;}
.top41{ height: 71px; width: 100%; background-color: #f9f0f1; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #ddd6d5; }
.top58{ height: 58px; width: 100%; background-color: #f9f0f1; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #ddd6d5; }

.topzi{
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
}
.jiantou { font-weight: normal; float: left; padding-left: 50px; }
.top41 ul li { font-weight: normal; float: left; width: 16.5%; background-image: url(../images/xian_22.jpg); background-repeat: no-repeat; background-position: right; height: 71px; line-height: 71px; text-align: center; font-size: 24px; font-family: "微软雅黑", "黑体"; }
.top41 ul { font-weight: normal; height: 71px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #ddd6d5; }

.xuanzhong{color:#3e3536;text-decoration:none;cursor:pointer; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #F00;}
.xuanzhong:link,.xuanzhong:visited{color:#3e3536;text-decoration:none; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #be0000;}
.xuanzhong:hover{color:#666666;text-decoration:underline;}
.xuanzhong:active{ color:#3e3536; text-decoration:none; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: #be0000; }
.wenzi { font-weight: normal; line-height: 24px; width: 95%; margin: 0 auto; padding-bottom: 35px; }
.wenzi h1 { font-weight: normal; margin-top: 15px; margin-bottom: 10px; }
.wenzi1 { font-weight: normal; line-height: 24px; width: 100%; margin: 0 auto; padding-bottom: 35px; }
.wenzi1 h2 { font-weight: normal; margin-top: 20px; margin-bottom: 10px; font-size: 14px; text-align: center; font-family: "微软雅黑", "黑体"; }
.wenzi h2 { font-weight: normal; margin-top: 20px; margin-bottom: 10px; font-size: 14px; text-align: center; }
.n_rong { font-weight: normal; font-size: 18px; font-family: "微软雅黑", "黑体"; line-height: 35px; }
.riqi { font-weight: normal; text-align:center; font-size: 14px; font-family: '微软雅黑', '黑体'; padding: 10px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #dccfd0; }
.li_r { background-image: none; }
h1 span { font-family: "微软雅黑", "黑体"; font-size: 14px; font-weight: bold; }
.xt_xuhao { font-weight: normal; height: 58px; }
table.rtab1 {border:1px solid #e0e0e0;border-collapse:collapse;}
table.rtab1 td { padding:1px 10px 1px 10px; color:#3e3536; height: 61px; font-family: "微软雅黑", "黑体"; font-size: 14px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #d5c7c9;}
table.rtab1 td table td {border:0;padding:4px 0 2px 5px;}
table.rtab1 th { padding:0; font:normal 16px "微软雅黑"; color:#3e3536; height: 45px; line-height: 45px; border-top-width: 1px; border-bottom-width: 2px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #e0e0e0; border-bottom-color: #d5c7c9; border-left-color: #e0e0e0; background-color: #eadede; background-image: url(../images/xitong_li.png); background-repeat: no-repeat; background-position: right; padding-left: 10px; }
.leixi { font-size: 12px; font-family: "宋体"; color: #717171; margin-right: 20px; }
.xt_sp { font-weight: normal; padding-top: 15px; margin-top: 30px; }
.xt_fenye { font-weight: normal; height: 58px; line-height: 58px; text-align: right; padding-right: 30px; padding-top: 20px; }
.xt_fenye1 { font-weight: normal; height: 58px; line-height: 58px; text-align: center; padding-right: 30px; padding-top: 20px; }


table.rtab2 {border:1px solid #e0e0e0;border-collapse:collapse;}
table.rtab2 td { padding:7px 10px 5px 10px; color:#3e3536; font-family: "微软雅黑", "黑体"; font-size:14px; border-bottom-width: 0px; border-bottom-style: solid; border-bottom-color: #d5c7c9; line-height: 16px; border-right-width: 0px; border-right-style: solid; border-right-color: #d5c7c9; }
table.rtab2 td table td {border:0;padding:4px 0 2px 5px;}
table.rtab2 th { padding:0; font:normal 16px "微软雅黑"; color:#3e3536; height: 45px; line-height: 45px; border-top-width: 1px; border-bottom-width: 2px; border-left-width: 1px; border-top-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: #e0e0e0; border-bottom-color: #d5c7c9; border-left-color: #e0e0e0; background-color: #eadede; background-repeat: no-repeat; background-position: right; padding-left: 10px; }
.bno { background-image: none; }
.selblue4 { width:577px; border:1px solid #CCC; height:20px; color:#666; }
.qs { background-color: #FFF; border: 2px solid #d5c7c9; font-family: "微软雅黑", "黑体"; font-size: 16px; line-height: 30px; padding: 8px; height: 225px; overflow: auto; width: 90%; resize: none;
}
.qs1 { background-color: #FFF; border: 2px solid #d5c7c9; font-family: "微软雅黑", "黑体"; font-size: 18px; line-height: 30px; padding: 8px; height: 105px; overflow: auto; width: 90%; resize: none;
}
