@charset "utf-8";
/* CSS Document designed by Wenxue.Chen on 2012.11.28 */
body { margin:0; padding:0; border:0; font-size:12px; background:#ffffff; }
.fixed { width:800px; height:600px; margin:0 auto; }

#img_show { width:352px; height:432px; border:1px #bbbbbb solid; box-shadow:0 2px 10px rgba(0,0,0,0.3); border-radius:3px; position:absolute; left:0; top:0; /*margin:-252px 0 0 -152px;*/ }
#img_show img, #img_show ul, #img_show li { display:block; list-style:none; margin:0; padding:0; border:0; }
#img_show .middle_img { width:350px; height:350px; padding:1px; }
#img_show .small_imgs { width:332px; height:65px; border-top:1px #bbbbbb solid; padding:4px 10px 0 10px; position:relative; white-space:nowrap; overflow:hidden; }
#img_show .small_imgs_fixed { width:328px; height:65px; position:relative; overflow:hidden; }
#img_show .small_imgs ul { width:100%; float:left; padding:0 0 0 5px; position:absolute; left:0; top:0; }
#img_show .small_imgs li { width:65px; height:65px; float:left; /*padding:5px 0 0 0;*/ margin-top: 5px;}
#img_show .small_imgs li img { background:rgba(0,0,0,0.4); opacity:0.5; }
#img_show .album_link { width:82px; height:21px; background:url(../images/icon_1.png) no-repeat 0 -44px; overflow:hidden; position:absolute; left:8px; top:322px; z-index:2; }
#img_show .album_link a { width:57px; display:block; padding:0 0 0 25px; line-height:21px; color:#cccccc; text-decoration:none; font-size:12px; }
#img_show .album_link a:hover { color:#ffffff; }
#zomm_prev, #zomm_next { width:10px; height:45px; display:block; background:url(../images/left.gif) no-repeat 0 0; overflow:hidden; position:absolute; left:9px; top:370px; z-index:2; display:none; }
#zomm_prev a, #zomm_next a { width:10px; height:45px; display:block; overflow:hidden; text-indent:-99px; }
#zomm_next { left:auto; right:9px; background:url(../images/right.gif) no-repeat 0 0; }
#zoom_hover { width:60px; height:65px; background:url(../images/curr_1.gif); overflow:hidden; position:absolute; z-index:1; left:15px; top:357px;_top:362px; }

/*放大镜CSS */
.cloudzoom-lens { border:none; border:5px solid #888; width:100px; height:100px; box-shadow: -0px -0px 10px rgba(0,0,0,0.40); cursor:crosshair; }
.cloudzoom-zoom { border:1px solid #888; width:500px;  height:200px; box-shadow: -0px -0px 10px rgba(0,0,0,0.40); }
.cloudzoom-zoom-inside { border:none; box-shadow:none; }
.cloudzoom-caption { display:none; text-align: left; background-color:#000; color:#fff; font-weight:bold; padding:10px; font-family: sans-serif; font-size:11px; }
.cloudzoom-blank {  background-image:url(blank.png); }
.cloudzoom-ajax-loader { background:url(../images/loading.gif) #050505 no-repeat center center; width:40px; height:40px; border:1px #000000 solid; opacity:0.8; }

/*相册*/
#albums { width:600px; height:600px; position:absolute; /*overflow:hidden;*/ left:150%; top:59%; background:#f8f8f8; z-index:3; border:1px #C00 solid; box-shadow:3px 3px 10px rgba(204,0,0,0.3); margin:-300px 0 0 -300px; display:none; }
/*#albums h2 { width:600px; height:35px; margin:0; padding:0; background:#C00; font-size:14px; font-weight:bold; color:#FFFFFF; line-height:35px; text-indent:15px; position:relative; display:block; }*/
/*#albums h2 a { width:18px; height:17px; display:block; position:absolute; right:10px; top:8px; background:url(../images/icon_2.png) no-repeat 0 0; text-indent:-99px; overflow:hidden; clear:both; }*/
/*#albums h2 a { right:-25px; top:-16px; width:33px; height:31px; display:block; position:absolute; background:url("../../images/xubox_ico0_1.png") -6px -182px no-repeat; text-indent:-99px; overflow:hidden; clear:both; }
#albums h2 a:hover{background:url("../../images/xubox_ico0_1.png") -6px -215px no-repeat;}*/
#albums div.albums_title{ width:600px; height:35px; margin:0; padding:0; background:#C00; font-size:14px; font-weight:bold; color:#FFFFFF; line-height:35px; text-indent:15px; position:relative;}
#albums div.albums_title a { z-index:9999 ;right:-25px;_right:0; top:-16px;_top:0; width:33px; height:31px; display:block; position:absolute; background:url("../../images/xubox_ico0_1.png") -6px -182px no-repeat; text-indent:-99px; clear:both; }
#albums div.albums_title a:hover{background:url("../../images/xubox_ico0_1.png") -6px -215px no-repeat;}

#albums img, #albums ul, #albums li { display:block; list-style:none; margin:0; padding:0; border:0; }
#albums .albums_conn { width:100%; float:left; clear:both; }
#albums .show_bigimgs_desk { width:355px; height:530px; float:left; padding:12px; }
#albums .bigimg_list { width:210px; float:right; padding:12px 5px 0 0; position:relative; }
#albums .bigimg_list li { width:70px; height:80px; float:left; }
#albums .bigimg_list li img { width:60px; height:60px; background:rgba(0,0,0,0.4); opacity:0.5;}
#albums .bigimg_list li.curr img { width:56px; height:56px; background:rgba(0,0,0,1); opacity:1; border:2px #C00 solid; }
#bigimg_show { width:355px; height:530px; overflow:hidden; position:relative; }

#iviewer_ui { width:100%; height:32px; background:rgba(204,0,0,0.7); position:absolute; left:0; bottom:0; }
#iviewer_ui_title { width:100%; height:28px; position:absolute; left:0; bottom:32px; line-height:28px; text-align:center; font-size:12px; color:#ececec; }
.iviewer_common { position:absolute; bottom:0; height:32px; z-index:5000; cursor:pointer; }
.iviewer_button { width:32px; background-repeat:no-repeat; background-image:url(../images/icon_2.png); }
.iviewer_zoom_in { left:84px; background-position:5px -20px; }
.iviewer_zoom_out { left:118px; background-position:-30px -20px; }
.iviewer_zoom_zero { left:152px; background-position:-63px -20px; }
.iviewer_zoom_fit { left: 188px; background-position:-98px -20px; }
.iviewer_zoom_status { left:5px; bottom:5px; height:22px; font-size:12px; color:#47252d; background:#ececec; text-align:center; width:40px; line-height:22px; }
.iviewer_rotate_left {left:220px; background-position:-131px -20px; }
.iviewer_rotate_right { left:255px; background-position:-166px -20px; }