.pay_btn{background:url('../images/next.jpg') no-repeat 0 -1px white;display:inline-block;font-size:0px;width:91px;height:35px;-webkit-text-size-adjust:none;cursor:pointer;}
.content {width:960px;margin:0 auto;margin-top:30px;padding-bottom:25px;}
.xinxi a ,a:visited{padding: 0 5px;color:#3365CB; text-decoration:none;cursor:pointer;}
.xinxi a:hover{padding: 0 5px;color:#f60; text-decoration:none;cursor:pointer;}
.xinxi h2{ height:30px; line-height:30px; background:#edffcc; border:#a1bee0 4px solid; padding:0 10px}
.xinxi h2 span{ float:left;font-size:12px;font-weight:normal;}
.xinxi h2 span a ,a:visited{padding: 0 5px;color:#3365CB; text-decoration:none;cursor:pointer;}
.xinxi h2 span a:hover{padding: 0 5px;color:#f60; text-decoration:none;cursor:pointer;}
.xinxi h2 b{ float:right;font-size:12px;font-weight:normal;}
.xinxi h2 b strong{ font-family:verdana; font-size:16px; color:#f60;}
.xx_list{ background:url('../images/s_bg01.gif') bottom repeat-x;border:#bcccee 1px solid; padding:20px;zoom:1; overflow:hidden}
.xx_list p{ border-bottom:#ccc 1px dotted; padding:10px 0;text-align:left;}
.xx_list p a{ padding:0 5px; text-decoration:underline}
.xx_list p b{ color:red;font-family:Georgia;font-style:italic;}
.zfmm{ height:20px;}
.zfbtn{ height:30px; width:60px;}
.mscz{ float:left; width:466px; padding:10px 0;text-align:left;}
.mscz b{ display:block; font-size:14px; line-height:30px;}
.mscz span{ display:block; line-height:32px; height:32px;}
.mscz span i{ font-style:normal; color:#f60; font-weight:bold; font-size:12px;font-family:Verdana, Geneva, sans-serif;}
.mscz span em{ color:#41ab01;font-family:Verdana, Geneva, sans-serif;font-stretch:normal;}
.mscz span strong{ font-weight:bold}
.s_btn{ background:url(../images/s_btn01.gif) no-repeat; width:81px; height:32px;display:inline-block;text-align:center;line-height:32px; border:none; cursor:pointer; font-size:14px; color:#fff; font-weight:bold; margin-left:10px;}
.ycts{ width:435px; float:right;text-align:left;}
.ycts b{ display:block; background:url('../images/s_ico01.gif') no-repeat 5px 50%; line-height:40px; padding-left:25px;}
.ycts li{ color:#969696; line-height:21px; font-family:"宋体";}
/*.ycts li a{ color:#0061b7; text-decoration:underline;}*/

.conzi{margin-top:-1px;text-align:left;}
.conzi h3{background:url('../images/conzi.gif') repeat-x; height:31px; line-height:31px; border:#a1bede 1px solid; padding:0 10px; font-size:14px; font-weight:bold; color:#4d4d4d;}
.conzi_box{border:#bcccee 3px solid; padding:20px;}
.conzi_box h4{border-bottom:#ccc dotted 1px; line-height:30px; font-size:14px; font-weight:bold;padding-bottom:10px;}
.conzi_box h4 b{color:red;}
.cz_kj{padding:10px;zoom:1; overflow:hidden; margin-bottom:10px;}
.cz_kj li{width:256px; float:left; height:110px;}
.cz_kj li img{background:#f4f4f4; border:#dedede 1px solid; margin-bottom:5px}
.cz_kj li b{color:#999; display:block;}
.cz_kj li p{width:230px;}
.cz_kj li strong{color:red; font-weight:bold;}
.cz_kj li i{color:red}
.wangyin{margin-bottom:15px;padding:10px;zoom:1; overflow:hidden;background:url('../images/gw1.jpg') repeat-x top;}
.wangyin li{width:178px; float:left; margin:10px 0;}
.wangyin li img{background:#f4f4f4; border:#dedede 1px solid; margin:0 0 5px 10px}
.s_btn{background:url('../images/s_btn01.gif') no-repeat; width:81px; height:32px;display:inline-block;text-align:center;line-height:32px; border:none; cursor:pointer; font-size:14px; color:#fff; font-weight:bold; margin-left:10px;}
#ebank_type_tip{color:#FF0000; font-size:12px;}

.chenggong {display: inline-block;height: 16px;background: url('../images/reg-menu.gif') 0 -22px no-repeat;padding-left: 25px;vertical-align: middle;padding-right: 5px;}
.chenggong1, .action1, .wrong1 { display:inline-block; vertical-align:top; padding-right:5px; font-size:12px; color:#000; position:relative; padding-left:40px; top:-8px;}
.chenggong1{ width:19px; height:24px; background:url(https://passport.58.com/pic2/n/images/post/background.gif) no-repeat -162px -75px;}
.action1,.wrong1{ width:247px; height:20px; padding-top:3px; background:url(https://passport.58.com/pic2/ui6/my/images/verification-ui6.gif) no-repeat 0 0;}
.action1 a,.wrong1 a{ position:relative; _top:2px; margin:0 2px; }
.action1{ background:url('../images/verification-ui6.gif') no-repeat 0 0;display:none;}
.action1 .action_po,.wrong1 .action_po{ position:absolute; left:0; top:0;}
.action1 .action_po_top{display:block;width:237px;padding:3px 10px 0 40px;min-height:10px;_height:10px; background:url('../images/verification-ui6.gif') no-repeat 0px 0;}
.action1 .action_po_bot{display:block;width:287px;height:5px;background:url('../images/verification-ui6.gif') no-repeat 0px -185px;overflow:hidden;}

.orange14px {color: #fe6c00;font-size: 14px;font-weight: bold;}
.buy_list {width: 970px;line-height: 38px;padding-left: 20px;margin: 0 auto;background: url(../images/xian_1.jpg) repeat-x;text-align: left;}
.orange {color: #F30;font-family: verdana/*tahoma*/;font-size: 14px;font-weight: bold;}
.hui16px {color: #666;font-size: 16px;font-family: "微软雅黑";font-weight: bold;}
.hui16px a:hover {color: #666;text-decoration: underline;}

.address-list li {border: 1px solid white;line-height: 24px;padding-left: 85px;position: relative;padding-top: 2px;padding-bottom: 2px;}
.address-list li.selected {background-color: #FFF5CC;border: 1px solid #FFE580;margin-bottom: 7px;margin-top: 5px;-webkit-box-shadow: 5px 5px 0 #f3f3f3;-moz-box-shadow: 5px 5px 0 #f3f3f3;box-shadow: 5px 5px 0 #f3f3f3;line-height: 32px;font-size: 14px;font-weight: bold;padding-top: 5px;padding-bottom: 5px;}
.marker-tip {position: absolute;top: 5px;left: 30px;color: #F50;font-weight: bold;_height: 24px;_line-height: 24px;}
